/* El * indica que todos los elementos se veran afectados, es decir, es universal */
*{ 
    font-family: Arial;
    color: #003366;
    box-sizing: border-box;
}

/* En este caso todos los h1 se veran afectados porque hicimos un selector por tipo de etiqueta */
h1{
    color:orangered;
    text-align: center;
    margin-bottom: 20px; /* Agrega un espacio externo de 20px en este caso hacia abajo*/
}
/* Todas las clases inician con un . y luego su nombre, 
claramente la etiqueta tendra que tener "class="boxes" para poder aplicarle el estilo" */
.boxes{
    border-color: #1E90FF;
    padding: 15px; /* Agrega espacio dentro del elemento de 15px*/
    margin-bottom: 20px;
    border-radius: 8px; /* Redondea las esquinas de los bordes*/
    background-color: #F0F8FF;
}
/* Todos los id inician con un # y luego su nombre, 
en este caso tambien la etiqueta tiene que tener el atributo "id="tabla"" para poder aplicar el estilo*/
#tabla{
    border: 5px solid coral; /* En este caso se puede pasar el border-style y border-color a una sola linea al estar relacionados*/
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
/* En este caso los td dentro de la tabla heredan ese estilo*/
#tabla td{
    border: 2px solid aquamarine;
    text-align: center;
}

/* En este caso se da estilo a los atributos de las etiquetas*/
input[type="date"]{
    width: 100%;
    padding: 8px;
    border: 3px solid #CCC;
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #1A237E;
    font-size: 14px;
}